
__pycache__/global_constants.cpython-37.pyc
__pycache__/intro_main.cpython-37.pyc
__pycache__/ironSeed.cpython-37.pyc
Graphics_Assets/main.pal
__pycache__/helper_functions.cpython-37.pyc
__pycache__/crew.cpython-37.pyc
__pycache__/items.cpython-37.pyc
__pycache__/planets.cpython-37.pyc
__pycache__/ship.cpython-37.pyc
__pycache__/crewcomm.cpython-37.pyc
__pycache__/GameGenerator.cpython-37.pyc
__pycache__/weaponsAndShields.cpython-37.pyc
__pycache__/buttons.cpython-37.pyc
__pycache__/PlanetScanner.cpython-37.pyc
Data_Generators/Other/planname.txt
Data_Generators/Other/cargo.txt
Data_Generators/Other/sysdata.txt
__pycache__/mainMenu.cpython-37.pyc
ship selector layout.png
crew Select Layout.png
*.pyc
old_code_research.txt
Fonts/static/InconsolataExtraExpanded-Regular.ttf
Fonts/static/InconsolataSemiCondensed-Medium.ttf
Fonts/static/InconsolataSemiCondensed-ExtraBold.ttf
Fonts/static/InconsolataSemiCondensed-Regular.ttf
Fonts/static/InconsolataSemiCondensed-ExtraLight.ttf
Fonts/static/InconsolataSemiCondensed-Black.ttf
Fonts/Inconsolata.zip
Fonts/README.txt
Fonts/static/Inconsolata-Black.ttf
Fonts/static/Inconsolata-Bold.ttf
Fonts/static/Inconsolata-ExtraLight.ttf
Fonts/static/Inconsolata-ExtraBold.ttf
Fonts/static/Inconsolata-Regular.ttf
Fonts/static/Inconsolata-Medium.ttf
Fonts/static/Inconsolata-Light.ttf
Fonts/Inconsolata-VariableFont_wdth,wght.ttf
Fonts/static/InconsolataCondensed-Medium.ttf
Fonts/static/InconsolataCondensed-Light.ttf
Fonts/static/InconsolataCondensed-SemiBold.ttf
Fonts/static/InconsolataExpanded-Bold.ttf
Fonts/static/InconsolataCondensed-Regular.ttf
Fonts/static/InconsolataCondensed-ExtraBold.ttf
Fonts/static/InconsolataUltraExpanded-SemiBold.ttf
Fonts/static/InconsolataUltraExpanded-ExtraLight.ttf
Fonts/static/InconsolataUltraExpanded-Black.ttf
Fonts/static/InconsolataUltraCondensed-Light.ttf
Fonts/static/InconsolataUltraCondensed-ExtraLight.ttf
Fonts/static/InconsolataUltraCondensed-ExtraBold.ttf
Fonts/static/InconsolataUltraCondensed-Bold.ttf
Fonts/static/InconsolataUltraCondensed-Medium.ttf
Fonts/static/InconsolataUltraCondensed-Black.ttf
Fonts/static/InconsolataSemiExpanded-SemiBold.ttf
Fonts/static/InconsolataSemiExpanded-Regular.ttf
Fonts/static/InconsolataSemiExpanded-Medium.ttf
Fonts/static/InconsolataSemiExpanded-Light.ttf
Fonts/static/InconsolataSemiExpanded-ExtraLight.ttf
Fonts/static/InconsolataSemiExpanded-ExtraBold.ttf
Fonts/static/InconsolataSemiExpanded-Bold.ttf
Fonts/static/InconsolataSemiExpanded-Black.ttf
Fonts/static/InconsolataSemiCondensed-SemiBold.ttf
Fonts/static/InconsolataSemiCondensed-Light.ttf
Fonts/static/InconsolataSemiCondensed-Bold.ttf
Fonts/static/InconsolataExtraExpanded-SemiBold.ttf
Fonts/static/InconsolataExtraExpanded-Medium.ttf
Fonts/static/InconsolataExtraExpanded-Light.ttf
Fonts/static/InconsolataExtraExpanded-ExtraLight.ttf
Fonts/static/InconsolataExtraExpanded-ExtraBold.ttf
Fonts/static/InconsolataExtraExpanded-Bold.ttf
Fonts/static/InconsolataExtraExpanded-Black.ttf
Fonts/static/InconsolataUltraCondensed-SemiBold.ttf
Fonts/static/InconsolataUltraExpanded-Bold.ttf
Fonts/static/InconsolataUltraCondensed-Regular.ttf
Fonts/static/InconsolataExtraCondensed-SemiBold.ttf
Fonts/static/InconsolataExtraCondensed-Regular.ttf
Fonts/static/InconsolataExtraCondensed-Medium.ttf
Fonts/static/InconsolataExtraCondensed-Light.ttf
Fonts/static/InconsolataExtraCondensed-ExtraLight.ttf
Fonts/static/InconsolataUltraExpanded-Regular.ttf
Fonts/static/InconsolataUltraExpanded-Light.ttf
Fonts/static/InconsolataUltraExpanded-Medium.ttf
Fonts/static/InconsolataUltraExpanded-ExtraBold.ttf
Fonts/static/InconsolataExtraCondensed-ExtraBold.ttf
Fonts/static/InconsolataExtraCondensed-Bold.ttf
Fonts/static/InconsolataExtraCondensed-Black.ttf
Fonts/static/InconsolataExpanded-SemiBold.ttf
Fonts/static/InconsolataExpanded-Regular.ttf
Fonts/static/InconsolataExpanded-Black.ttf
Fonts/static/InconsolataExpanded-ExtraBold.ttf
Fonts/static/InconsolataExpanded-ExtraLight.ttf
Fonts/static/InconsolataExpanded-Light.ttf
Fonts/static/InconsolataExpanded-Medium.ttf
Fonts/static/InconsolataCondensed-ExtraLight.ttf
Fonts/static/InconsolataCondensed-Bold.ttf
Fonts/static/InconsolataCondensed-Black.ttf
Fonts/static/Inconsolata-SemiBold.ttf
